.page {
    background-color:black;
}

body {
    background-color:black
}

.maintable {
    display: grid;
    grid-template-columns: repeat(18, 65px);
    grid-template-rows: repeat(9, 65px);
}

.atomicnumber {
    color: black;
    font-size: 8px;
    padding: 0px;
    margin: 0px;
    font-weight: bold
}

.symbol {
    color: black;
    font-size: 16px;
    text-align: center;
    padding: 0px;
    margin: 0px;
    font-weight:bold;
}

.atomicmass {
    color: black;
    font-size: 12px;
    text-align: center;
    padding: 0px;
    margin: 0px;
    font-weight: bold
}

.element {
    margin: 4px;
    padding: 4px;
    width: 60px;
    height: 60px;
    position: relative;
}


/* Tooltip text */
.tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    border: solid;
    border-width: 1px;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

.element::before .tooltiptext {
    transition: all 1s;
}

/* Show the tooltip text when you mouse over the tooltip container */
.element:hover .tooltiptext {
    visibility: visible;
    transition: all 1s;
}

.detailpane {
    float:right;
    width:400px;
    height:100vh;
    background-color:green
}

.attribution {
    margin:20px;
    color:white;
    text-align:right;
    font-size:8px;
    background-color:red;
}

.title {
    color: white;
}